.container {
	max-width: 100vw;
	max-height: 100vh;
}

header{
	position: relative;
	left: 0px;
	right: 0px;
	max-width: 100vw;
	padding: 20px;
	height: 25px;
	background: #CC8561;
	border: 2px solid #FFFFFF;
}

body{
	min-height: 100vh;
	background: #302525;
	margin:0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

.fa-bars{
	position: absolute;
	color: white;
	width: 35px;
	height: 35px;
	left: 15px;
	top: 18px;
}

img{
	position: absolute;
	left: 118px;
	top: 0px;
	width:90px; 
	height:65px;
}

.login{
	text-decoration-line: underline;
	float: right;
	width: 76px;
	height: 28px;
	margin-top: -10px;
	font-style: normal;
	font-size: 15px;
	line-height: 28px;
	color: #FFFFFF;
	transition: 0.3s;
}
.login:hover{
	color:#344960;
}

.sidebar{
	background:#344960;
	margin-top: 0px;
	padding-top: 0px;
	position: absolute;
	left:0;
	width: 210px;
	min-height: 100vh;
	transition: 0.3s;
	transition-property: left;
}

.sidebar a{
	color: #fff;
	display: block;
	width:100%;
	line-height: 60px;
	text-decoration: none;
	padding-left: 30px;
	box-sizing: border-box;
	font-size: 15px;
	transition: 0.3s;
	transition-property: background;
}
.sidebar a:hover{
	background: #CC8561;
}

.sidebar i{
	padding-right: 10px;
}

.sidebar .fa{
	font-size: 20px;
}

label #sidebar_btn{
	z-index:1;
	color: #fff;
	float: left;
	cursor: pointer;
	left: 15px;
	font-size: 30px;
	margin: 5px 0;
	transition: 0.3s;
	transition-property: color; 
	top: 15px;
}
label #sidebar_btn:hover{
	color:#344960;
}

#check{
	display: none;
}
#check:checked ~ .sidebar{
	left:-160px;
}
#check:checked ~ .sidebar a span{
	display: none;
}
#check:checked ~ .sidebar a{
	font-size: 20px;
	margin-left: 150px;
	width: 60px;
}

#content{
	margin-left: 230px;
	margin-top: 20px;
	height: 100vh;
	font-size: 20px;
	font: bold;
}
#check:checked ~ #content{
	margin-left: 75px;
}

#myFirstChart{
	background-color: #fff;
}

#mySecondChart{
	background-color: #fff;
}

.container{
	padding-top: 20px;
	padding-left: 30px;
}

#inline{
	width:100%;
	height:auto;
}

.main-content{
	margin: 10px;
	font-size: 23px;
	font-style: bold;
}

.options {
	float: right;
	text-align: right;
	right: 0px;
	position: relative;
}

.fa-plus-circle{
	padding-right: 5px;
}

.addbtn {
	background-color:#344960; 
	 color:#fff;
	 border-radius: 5px;
	 padding: 3px;
	 margin-right: 5px;
}

.addbtn:hover{
	background-color: #CC8561;
	transition: 0.3s;
	cursor: pointer;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.btn_search{
	background-color: transparent;
	text-shadow: 1px 1px 2px #000000;
	font-size: 18px;
	border: none;
	float: right;
	padding:5px; 
	cursor: pointer;
}

input{
	box-sizing: border-box;
	box-shadow: 2px;
	padding: 5px 10px;
}

table {
	position: relative;
	width: 800px;
	margin-top: 30px;
	width: 100%;
	padding: 15px;
}

table th{
	background-color: #344960;
	color: #fff;
	padding: 5px;
	font-size: 18px;
}

table tr{
	background-color: #fff;
	color: #000;
}

table td{
	padding: 10px;
	font-size: 15px;
}

td button  {
	background-color: transparent;
	cursor: pointer;
	border:none;
	color: black;
	font-size: 15px;
	float: center;
}

p {
	text-align: left;
	padding-left:20px;
	padding-right: 20px;
	font-size: 15px; 
}

.close {
  color: #344960;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.bookN {
	float: right;
	height: 25px;
}
.author{
	float: right;
	height: 25px;
}
.copies{
	float: right;
	height: 25px;
}
.category{
	float: right;
	margin-left:50px;
	width:193px;
	height: 25px;
}

.modal {
  display: none;
  position: fixed; 
  padding-top: 50px;
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  position: relative; 
  background-color: white;
  padding: 20px; 
  margin: auto; 
  top:25%;
  width: 30%;  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}