<template>
	<div id="app">
	
	<div class="content">
		<div class= "main-content" style="margin-top:90px">
			<div style="text-align:left">
				List of Books
			<div class="options">
				<button id=myBtn class="addbtn" @click="$bvModal.show('add-Modal')"><PlusCircle-icon/><span>Add Books</span></button>
				<input type="text" placeholder="Search.."> 
					<button class="btn_search"><Magnify-icon/></button>
			</div>
			</div>
		</div>
	</div>
  
	<!-- Table -->
	<table>
  <tr>
    <th>Actions</th>
    <th>Book Name</th> 
    <th>Author</th>
    <th>Copies Available</th>
    <th>Category</th>
  </tr>
  <tr v-for="(book, i) in book" :key="i">
    <td>
      <button><SquareEditOutline-icon v-on:click="$bvModal.show('edit-Modal'); id = i; data = {...book}" /></button> |
      <button class="deletebtn" @click.prevent="$bvModal.show('delete-Modal'); id = book.id;"><TrashCanOutline-icon/></button> |
      <button><ArrowDown-icon v-on:click="book_data.book_id = book.id; id = i; $bvModal.show('borrow-Modal');" /></button> |
      <button><ArrowLeft-icon v-on:click="book_data.book_id = book.id; id = i; $bvModal.show('return-Modal'); " /></button>
    </td>
    <td>{{ book.name }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.copies }}</td>
    <td>{{ book.category.category }}</td>
  </tr>
	</table>

<!-- Delete Modal -->
<b-modal id="deleteModal" hide-header hide-footer="true">
      <div class="modal-body pl-5 pr-5">
        <p>Are you sure you want to delete this?</p>
        <div class="modal-footer" >
          <button variant="info" @click="cancel" style="background:lightgrey; border-radius:8px; padding:7px 15px"> No </button>
          <button variant="danger" @click="delete_Book" style="background:#CC8561; border-radius:8px; padding:7px 15px; margin-left:15px"> Yes </button>
        </div>
    </div>
    </b-modal>

<!-- Add Modal -->
  <b-modal id="addModal" hide-footer hide-header >
    <div>
      <div class="modal-body pl-5 pr-5">
        <div class="form-group">
           <label for="name" style="margin-top: 50px;">Book Name</label>
          <input type="text"  class="form-control" id="name" placeholder="" v-model="data.name"/>
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <input type="text"  class="form-control" id="author" placeholder="" v-model="data.author"/>
        </div>
        <div class="form-group">
          <label for="copies">Copies</label>
          <input type="number" class="form-control" id="copies" placeholder="" v-model="data.copies" />
        </div>
        <div class="form-group">
          <label for="customSelect">Category</label>
          <select id="customSelect" class="custom-select" v-model="data.category_id" >
            <option selected disabled>--Select a category--</option>
            <option v-for="(categor, i) in categories" 
              :key="i" 
              :value="categor.id">{{categor.category}}
            </option>
          </select>
        </div>
      <div class="modal-footer">
        <button id=myBtn class="addbtn" @click="save_Book"><PlusCircle-icon/><span>Add Book</span></button>
      </div>
      </div>
    </div>
  </b-modal>

  <!-- Edit Modal -->
    <b-modal id="editModal" hide-footer hide-header>
    <div>
      <div class="modal-body pl-5 pr-5">
        <div class="form-group">
           <label for="name" style="margin-top: 50px;">Book Name</label>
          <input type="text"  class="form-control" id="name" placeholder="" v-model="data.name" />
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <input type="text"  class="form-control" id="author" placeholder="" v-model="data.author"/>
        </div>
        <div class="form-group">
          <label for="copies">Copies</label>
          <input type="number" class="form-control" id="copies" placeholder="" v-model="data.copies" />
        </div>
        <div class="form-group">
          <label for="customSelect">Category</label>
          <select id="customSelect" class="custom-select" v-model="data.category_id" >
            <option selected disabled>--Select a category--</option>
            <option v-for="(categor, i) in categories" 
                :key="i" 
                :value="categor.id">{{categor.category}}
            </option>
          </select>
        </div>
      <div class="modal-footer">
        <button id=myBtn class="addbtn" @click="update_Book"><PlusCircle-icon/><span>Update Book</span></button>
      </div>
      </div>
    </div>
    </b-modal>

    <!-- Borrow Modal -->
    <b-modal id="borrow-Modal" hide-footer hide-header>
    <div>
      <div class="modal-body pl-5 pr-5">
        <div class="form-group">
           <label for="customSelect" style="margin-top: 50px;">Patron</label>
          <select id="customSelect" v-model="book_data.patron_id" name="patrons" class="custom-select">
            <option selected disabled>Please select a patron (optional)</option>
            <option v-for="(patron, i) in patrons" 
                :key="i" 
                :value="patron.id">  {{patron.first_name +" " +patron.middle_name +" " +patron.last_name}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="copies">Copies</label>
          <input type="number" class="form-control" id="copies" placeholder="" v-model="book_data.copies" />
        </div>
      <div class="modal-footer">
        <button id=myBtn class="addbtn" @click="borrow_Book"><ArrowDown-icon/><span>Borrow Book</span></button>
      </div>
      </div>
    </div>
    </b-modal>

    <!-- Return Modal -->
    <b-modal id="return-Modal" hide-footer hide-header>
    <div>
      <div class="modal-body pl-5 pr-5">
        <div class="form-group">
           <label for="customSelect" style="margin-top: 50px;">Patron</label>
          <select id="customSelect" v-model="book_data.patron_id" name="patrons" class="custom-select">
            <option selected disabled>Please select a patron (optional)</option>
            <option v-for="(patron, i) in patrons" 
                :key="i" 
                :value="patron.id">  {{patron.first_name +" " +patron.middle_name +" " +patron.last_name}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="copies">Copies</label>
          <input type="number" class="form-control" id="copies" placeholder="" v-model="book_data.copies" />
        </div>
      <div class="modal-footer">
        <button id=myBtn class="addbtn" @click="return_Book"><ArrowLeft-icon/><span>Return Book</span></button>
      </div>
      </div>
    </div>
    </b-modal>

	</div>
</template>

<script> 
	import { mapActions, mapGetters, mapState } from "vuex";
	import PlusCircleIcon from 'vue-material-design-icons/PlusCircle.vue';
	import MagnifyIcon from 'vue-material-design-icons/Magnify.vue';
	import SquareEditOutlineIcon from 'vue-material-design-icons/SquareEditOutline.vue';
  import TrashCanOutlineIcon from 'vue-material-design-icons/TrashCanOutline.vue';
  import ArrowDownIcon from 'vue-material-design-icons/ArrowDown.vue';
  import ArrowLeftIcon from 'vue-material-design-icons/ArrowLeft.vue';
  import {toast} from '@/assets/js/vue-toast'

	export default {
    mixins: [toast],
		components: {PlusCircleIcon, MagnifyIcon, SquareEditOutlineIcon, TrashCanOutlineIcon, ArrowDownIcon, ArrowLeftIcon},
		
	data() {
    return {
      id: '',
      data: {
        name: '',
        author: '', 
        copies: '', 
        category_id: ''
      },
      modalId: '',
      book_data: { book_id: '', 
        copies: '',
        patron_id: ''
      }
    }
  },

  mounted() {
    document.title = "Library System | Book Management";
    this.getBooks();
    this.getCategories();
    this.getPatrons();
    this.$root.$on('bv::modal::show', (bvEvent, modalId) => {
      this.modalId = modalId;
    })
    this.$root.$on('bv::modal::hide', () => {
      this.clearData();
    })
  },

  computed: {
    ...mapState("books", ["books", "categories"]),
    ...mapState("patrons", ["patrons"])
  },
  
  methods: {
    ...mapActions("books", ["getBooks", "deleteBook", "storeBook", "updateBook"]),
    ...mapActions("patrons", ["getPatrons"]),
    ...mapActions("borrowed", ["createBorrowed"]),
    ...mapActions("returned", ["createReturned"]),
    ...mapGetters("books", ["getBooksData"]),

    async borrow_Book(){
      this.book_data.patron_id == '' ? delete this.book_data.patron_id : ''
      const res = await this.createBorrowed({data: this.book_data, index: this.id})
      res.status == 200 ? this.showSuccess('Book borrowed successfully'): this.showError(res.data)
    },
    async return_Book(){
      this.book_data.patron_id == '' ? delete this.book_data.patron_id : ''
      const res = await this.createReturned({data: this.book_data, index: this.id})
      if(res.status == 200){
        this.showSuccess('Book borrowed successfully')
      }
      else if(res.status == 404){
        this.showErrorToast('Book to be returned doesnt match any from borrowed books');
      }
      else{
        this.showError(res.data)
      }
    },
    async save_Book(){
      const res = await this.storeBook({...this.data})
       res.status == 200 ? this.showSuccess('Book saved successfully!') : this.showError(res.data)
    },
    async delete_book(){
      const res = await this.deleteBook(this.id);
      if(res.status !== 200)
       this.showError(res.data)
       
      this.$bvModal.hide('deleteModal');
    },
    async update_Book(){
      const res = await this.updateBook({index: this.id, data: this.data})
      res.status == 200 ?  this.showSuccess('Patron updated successfully!') : this.showError(res.data)
    },
    showSuccess(msg){
      this.$bvModal.hide(this.modalId);
      this.showSuccessToast(msg);
    },
    clearData(){
      this.data = { name: '', author: '', copies: '', category_id: ''}
    },
    showError(data){
      for (const key of Object.keys(data)) {
        window.setInterval(this.showErrorToast(data[key][0]), 1000); 
      }
    }
  },
  watch: {

  }
};
</script>

<style>
	@import '../assets/css/style.css';
</style>
	