<template>
	<div id="app">
	
	<Chart isActive="dashboard"/>
	<div class="content">
		<div class= "main-content">
			<div style="float:left; margin-top:30px">
				Dashboard
			</div>
				<div class="container" >
					
					<div class="row mt-5" style="display: inline-flex; ">
					<div class="col-10 col-sm-10 col-md-6 col-lg-6 pb-3">
						<canvas id="myFirstChart" width="380" height="300" style="float: left; border: thin solid darkgray; margin-right: 40px"></canvas>
					</div>
					<div class="col-10 c ol-sm-10 col-md-6 col-lg-6 pb-3">
						<canvas id="mySecondChart" width="380" height="300" style="float: right; border: thin solid darkgray; margin-left: 40px"></canvas>
					</div>
					</div>
					
				</div>	
		</div>
	</div>
	</div>
</template>

<script> 
	
	import Chart from 'chart.js';

	export default {
		components: {},
	data(){
		return {
		msg: 'Hello World!'
		}
	},

	mounted() {
    document.title = "Dashboard"
	var bar = document.getElementById("myFirstChart").getContext("2d");
      new Chart(bar, {
	type: 'bar',
    data: {
		labels: ['Non-Fiction', 'Biography', 'History', 'Mystery', 'Fiction'],
    datasets: [{
        label: 'Books',
        data: [30,25, 30, 15, 28],
        backgroundColor: '#344960',
        borderColor: '#000000',
        borderWidth: 1,
        hoverBorderWidth:2,
        hoverBorderColor: "#fff"
        }]
    },
	options: {
		title:{
			text:'Types of Books Read (October)',
			display: true,	
			fontSize:15
		},
		legend:{
			display:false
		},
		scales: {
			yAxes: [{
				scaleLabel:{
					labelString: 'Number of Books',
					display: true,
					fontSize: 13
				},
                ticks: {
                    beginAtZero: true
                }
            }]
		}
    
    }
});

	var bar1 = document.getElementById("mySecondChart").getContext("2d");
      new Chart(bar1, {
	type: 'bar',
    data: {                       
        labels: ['January', 'Februaruy', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October'],
    datasets: [{
        label: 'Books',
        data: [130, 100, 80, 160, 190, 120, 115, 170, 160, 120],
        backgroundColor: '#344960',
        borderColor: '#000000',
        borderWidth: 1,
        hoverBorderWidth:2,
        hoverBorderColor: "#fff"
        }]
    },
    options: {
        title:{
            text:'Usage of Books',
            display: true,  
            fontSize:15
        },
        legend:{
            display:false
        },
        scales: {
            yAxes: [{
                scaleLabel:{
                    labelString: 'Number of Books',
                    display: true,
                    fontSize: 13
                },
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

  },
	
	};
</script>

<style>
	@import '../assets/css/style.css';
</style>
			