<template>
    <div>
        
        <header>
		<h1>
			<div class= "menu">
				<img src = "../assets/img/logo.jpg" alt="Logo"/>
                <div>
                <a href="#" class="login">Login</a>
                </div>
			</div>
		</h1>
	</header>	
    </div>
</template>

<script>

export default {
name: "App",
  components: {
  }
};
</script>
<style>
    @import '../assets/css/style.css';
</style>