<template>
	<div id="app">
	<div class="content">
		<div class= "main-content" style="margin-top:90px">
			<div style="text-align:left">
				List of Patrons
			<div class="options">
				<button id=myBtn class="addbtn" @click="$bvModal.show('addModal')" ><PlusCircle-icon/><span>Add Patrons</span></button>
				<input type="text" placeholder="Search.."> 
					<button class="btn_search"><Magnify-icon/></button>
			</div>
			</div>
		</div>
	</div>
	
  <!-- Table -->
	<table>
  <tr>
    <th>Actions</th>
    <th>Name</th> 
    <th>Email Address</th>
    <th>Date Registered</th>
  </tr>
  <tr v-for="(patron, i) in patron" :key="i">
    <td>
      <button><SquareEditOutline-icon v-on:click="$bvModal.show('editModal'); index = i; input = {...patron}"/></button> |
      <button class="deletebtn" v-on:click="$bvModal.show('deleteModal'); index = patron.id" ><TrashCanOutline-icon/></button>
    </td>
    <td>{{ patron.first_name + " " + patron.middle_name + " " + patron.last_name }}</td>
    <td>{{ patron.email }}</td>
    <td>{{ patron.created_at }}</td>
  </tr>
	</table>

<!-- Delete Modal -->
  <b-modal id="deleteModal" hide-header hide-footer="true">
      <div class="modal-body pl-5 pr-5">
        <p>Are you sure you want to delete this?</p>
          <div class="modal-footer" >
            <button variant="info" @click="cancel" style="background:lightgrey; border-radius:8px; padding:7px 15px"> No </button>
            <button variant="danger" @click="deletePatron" style="background:#CC8561; border-radius:8px; padding:7px 15px; margin-left:15px"> Yes </button>
          </div>
    </div>
    </b-modal>

<!-- Add Modal -->
  <b-modal id="addModal" hide-footer hide-header>
    <div>
      <div class="modal-body pl-5 pr-5">
        <div class="form-group">
          <label for="firstname" style="margin-top: 50px;">First Name</label>
          <input type="text" class="form-control" id="firstname" placeholder="" v-model="input.first_name"/>
        </div>
        <div class="form-group">
          <label for="middlename">Middle Name</label>
          <input type="text" class="form-control" id="middlename" placeholder="" v-model="input.middle_name"/>
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input type="text" class="form-control" id="lastname" placeholder="" v-model="input.last_name"/>
        </div>
        <div class="form-group">
          <label for="email">Email Address</label>
          <input type="text" class="form-control" id="email" placeholder="" v-model="input.email"/>
        </div>
        <div class="add">
          <button id=myBtn class="addbtn" @click="savePatron"><PlusCircle-icon/><span>Add Patron</span></button>
        </div>
      </div>
    </div>
    </b-modal>

<!-- Edit Modal -->
<b-modal id="editModal" hide-footer hide-header>
    <div>
      <div class="modal-body pl-5 pr-5">
        <div class="form-group">
          <label for="firstname" style="margin-top: 50px;">First Name</label>
          <input type="text" class="form-control" id="firstname" placeholder="" v-model="input.first_name"/>
        </div>
        <div class="form-group">
          <label for="middlename">Middle Name</label>
          <input type="text" class="form-control" id="middlename" placeholder="" v-model="input.middle_name"/>
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input type="text" class="form-control" id="lastname" placeholder="" v-model="input.last_name"/>
        </div>
        <div class="form-group">
          <label for="email">Email Address</label>
          <input type="text" class="form-control" id="email" placeholder="" v-model="input.email"/>
        </div>
        <div class="add">
          <button id=myBtn class="addbtn" @click="updatePatron"  ><PlusCircle-icon/><span>Add Patron</span></button>
        </div>
      </div>
    </div>
    </b-modal>
	</div>
</template>

<script> 
	import PlusCircleIcon from 'vue-material-design-icons/PlusCircle.vue';
	import MagnifyIcon from 'vue-material-design-icons/Magnify.vue';
	import SquareEditOutlineIcon from 'vue-material-design-icons/SquareEditOutline.vue';
	import TrashCanOutlineIcon from 'vue-material-design-icons/TrashCanOutline.vue';
  import {toast} from '@/assets/js/vue-toast'
  import { mapState, mapActions, mapGetters } from 'vuex';

	export default {
    mixins: [toast],

		components: {PlusCircleIcon, MagnifyIcon, SquareEditOutlineIcon, TrashCanOutlineIcon},
		
	data() {
    return {
      input: {
        first_name: "",
        middle_name: "",
        last_name: "",
        email: "",
      },
      modalId: '',
      index: "",
    };
  },

  mounted() {
    document.title = "Library System | Patron Management";
    this.$root.$on('bv::modal::hide', () => {
      this.clearFields();
    })
    this.$root.$on('bv::modal::show', (bvEvent, modalId) => {
      this.modalId = modalId;
    })
    this.getPatrons();
    this.getPatronData();
  },

  computed: {
    ...mapState('patrons', ['patrons'])
  },

  methods: {
    ...mapActions('patrons', ['getPatrons', 'storePatron', 'deletePatron', 'updatePatron']),
    ...mapGetters('patrons', ['getPatronData']),
    async savePatron() {
      const res = await this.storePatron(this.input)
      res.status == 200 ? this.showSuccess('Patron saved successfully!') : this.showError(res.data)
    },
    async patronDelete() {
      const res = await this.deletePatron(this.index);
      if(res.status !== 200)
       this.showError(res.data)
       
      this.$bvModal.hide('deleteModal');
    },
    async patronUpdate(){
      const res = await this.updatePatron({data: {...this.input}, index: this.index})
      res.status == 200 ?  this.showSuccess('Patron updated successfully!') : this.showError(res.data)
    },
    showSuccess(msg){
      this.$bvModal.hide(this.modalId);
      this.showSuccessToast(msg);
    },
    clearFields() {
      this.input.first_name = "";
      this.input.middle_name = "";
      this.input.last_name = "";
      this.input.email = "";
    },
    showError(data){
      for (const key of Object.keys(data)) {
        this.showErrorToast(data[key][0]); 
      }
    }
    
  },
};
</script>

<style>
	@import '../assets/css/style.css';
</style>
			