<template>
	<div id="app">
		<div class="content">
			<div class= "main-content">
				<div style="float:left; margin-top:30px">
				Settings
				<div class="options">
				</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script> 
	export default {
    
		components: {  },
		
		data: function (){
			return {
			msg: 'Hello World!',
			}
		},

		mounted() {
			document.title = "Settings"
		},
	};
</script>

<style>
	@import '../assets/css/style.css';
</style>
			