<template>
    <div>
        <div class="sidebar" id="app">

          <router-link to="/" :class="getRoute == '/' ? 'active' : ''">
            <ViewDashboard-icon /><span>Dashboard</span>
          </router-link>
          <router-link to="/patron" :class="getRoute == '/patron' ? 'active' : ''">
            <Account-icon /><span>Patron Management</span>
          </router-link>
          <router-link to="/book" :class="getRoute == '/book' ? 'active' : ''">
            <BookAccount-icon /><span>Book Management</span>  
          </router-link>
          <router-link to="/settings" :class="getRoute == '/settings' ? 'active' : ''">
            <Cog-icon/><span>Settings</span>		
          </router-link>

      </div>
    </div>
</template>

<script>

import ViewDashboardIcon from 'vue-material-design-icons/ViewDashboard.vue';
import AccountIcon from 'vue-material-design-icons/Account.vue';
import BookAccountIcon from 'vue-material-design-icons/BookAccount.vue';
import CogIcon from 'vue-material-design-icons/Cog.vue';

export default {
  name: "App",
  
  components: {
  ViewDashboardIcon,
  AccountIcon,
  BookAccountIcon,
  CogIcon,
  },
   mounted() {
  },
  methods: {
  },
 computed: {
    getRoute: function(){
      return this.$route.path
    }
  } 
};
</script>

<style>
    @import '../assets/css/style.css';
</style>

