<template>
  <div id="app">
    <SideBar />
    <NavBar />
    <div class="main">
      <router-view />
  </div>
  </div>
</template>

<script>
  import SideBar from "@/components/SideBar";
  import NavBar from "@/components/NavBar";
  export default {
  components: { SideBar, NavBar },
  };
</script>


<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
