.container {
	max-width: 960px;
}
/* Header Style */
h1 {
	font-family: Verdana;
	padding-left: 2%;
	font-weight: bold;
}
h5 {
	font-family: Segoe UI Historic;
	text-align: right;
	padding-right: 1%;
}
a {
	color: #999;
	transition: ease-in-out color .15s;
}
a:hover {
	color: skyblue;
	text-decoration: none;
}

/* Style buttons that are used to open the tab content */
.tab button {
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	color: black;
	transition: ease-in-out color .15s;
	background-color: #F5FFFE;
	padding-left: 4%;
	display: inline;
}
.tab button:hover {
	color: skyblue;
	text-decoration: none;
}

/* Style for Input and Search button*/
.search input[type=text] {
	float: right;
	margin-top: 8px;
	font-family: Calibri;
	font-size: 17px;
	border: none;
	background: transparent;
}
.btn {
	float: right;
	margin-top: 8px;
	padding: 3px 5px; 
    cursor: pointer;
	margin-right: 15px;
}

/* Style for Login and ShoppingCart button*/
.login {
	float: right;
	margin-top: 8px;
	font-size: 20px;
	font-family: Calibri;
	padding-left: 15px;
}
.btn1 {
	float: right;
	margin-top: 8px;
    cursor: pointer; 
	border: none;
	background-color: transparent;
}
.fa-shopping-cart{
	padding-right: 5px;
}

/* Style for body content*/
body {
	background-color: #F5FFFE;
}
img{
	width: 100%;
	padding-bottom: 10px;
}
.text-block {
	position: absolute;
	bottom: 20px;
	right: 50px;
	padding-left: 65px;
	padding-right: 65px;
	padding-top: 30px;
	text-align: center;
	background-image: linear-gradient(to top, rgba(245,255,254,0), rgba(245,255,254,1));
	border-radius: 15px;
}
h4 {
	color: black;
	font-family: 	Candara;
	font-size: 40px;
	margin: 0px;
	padding-bottom: 20px;
}
p{
	font-family: helvetica;
	font-size: 15px;
	color: #F6F5E6;
}
.fa-check-circle{
	margin-right: 5px;
}
.btn_shop {
	text-align: center;
	margin-top: 8px;
	padding: 8px 8px; /* Some padding */
    cursor: pointer; 
	background-color: #EBE4A8;
	font-weight: 900;
	font-size:15px;
}

/* Style for Social-Media-List*/
.nav-container2 { 
	width:auto; 
	height:30px; 
	padding-top: 10px; 
	text-align: center; 
	background-image: linear-gradient(to top, rgba(173,210,220,0), rgba(173,210,220,1));
}
.social-media-list {
    display: inline;
	padding-right: 20px; 
	padding-left: 20px;
}

/* Style for Footer*/
.footer-container3 {
	width: 100%;
	text-align: center; 
	padding-top:10px;
}
.footer-list-items{
	font-family: calibri;
	display: inline;
}
.policy{
	padding-right:20px;
	padding-bottom:0px;
}
.copyright{
	color:black; 
	opacity: 50%;
	padding-top: 0px;
}
