.container {
	max-width: 100vw;
	max-height: 100vh;
}

header{
	position: absolute;
	left: 0px;
	right: 0px;
	max-width: 100vw;
	top: 0px;
	height: 70px;
	background: #CC8561;
	border: 2px solid #FFFFFF;
}


body{
	min-height: 100vh;
	background-color: #E5E5E5 !important;
	margin:0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}


img{
	position: absolute;
	left: 118px;
	top: 0px;
	width:90px; 
	height:65px;
}

.login{
	text-decoration-line: underline;
	float: right;
	width: 76px;
	height: 28px;
	margin-top: 35px;
	font-style: normal;
	font-size: 15px;
	line-height: 28px;
	color: white;
	transition: 0.3s;
}
.login:hover{
	color:#344960;
}

.sidebar{
	background:#344960;
	top:10px;
	position: absolute;
	left:0;
	padding-left: 0px;
	margin-left: 0px;
	width: 210px;
	min-height: 100vh;
	transition: 0.3s;
	transition-property: left;
}

.sidebar a{
	color: #fff;
	display: block;
	text-align: left;
	width:100%;
	line-height: 60px;
	text-decoration: none;
	padding-left: 5px;
	box-sizing: border-box;
	font-size: 15px;
	transition: 0.3s;
}
.sidebar a:hover{
	background: #CC8561;
	color: #fff;
	text-decoration: none;
}

.sidebar span{
	padding-left: 5px;
}

label #sidebar_btn{
	position: absolute;
	z-index:1;
	color: #fff;
	text-align: left;
	cursor: pointer;
	left: 10px;
	font-size: 30px;
	transition: 0.3s;
	transition-property: color; 
	margin-top: 1px;
}
label #sidebar_btn:hover{
	color:#344960;
}

.active {
	background: #CC8561;
	transition: 0.3s;
}
  
#check{
	display: none;
}
#check:checked ~ .sidebar{
	left:-160px;
}
#check:checked ~ .sidebar a span{
	display: none;
}
#check:checked ~ .sidebar a{
	font-size: 20px;
	margin-left: 150px;
	width: 60px;
}

#content{
	margin-left: 230px;
	margin-top: 20px;
	height: 100vh;
	font-size: 20px;
	font: bold;
	
}
#check:checked ~ #content{
	margin-left: 75px;
}

#myFirstChart{
	background-color: #fff;
}

#mySecondChart{
	background-color: #fff;
}

.container{
	padding-top: 20px;
	padding-left: 20px;
}

#inline{
	width:100%;
	height:auto;
}

.main-content{
	margin-left: 230px;
	margin-top: 30px;
	font-size: 23px;
	font-style: bold;
}

.options {
	float: right;
	text-align: right;
	right: 0px;
	position: relative;
}

.addbtn {
	background-color:#344960; 
	font-size: 14px;
	 color:#fff;
	 border-radius: 5px;
	 padding: 2px;
	 margin-right: 10px;
}

.addbtn:hover{
	background-color: #CC8561;
	transition: 0.3s;
	cursor: pointer;
}


.modal {
	display: none; 
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
  }

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding-bottom: 10px;
  border: 1px solid #888;
  width: 80%; 
}

.btn_search{
	background-color: transparent;
	text-shadow: 1px 1px 2px #000000;
	font-size: 18px;
	border: none;
	float: right;
	padding:5px; 
	cursor: pointer;
}

.options input{
	box-sizing: border-box;
	box-shadow: 2px;
	padding: 5px 10px;
	font-size: 13px;
}

table {
	position: relative;
	width: 80%;
	margin-left: 250px;
	margin-top: 30px;
	padding: 15px;
}

table th{
	background-color: #344960;
	color: #fff;
	padding: 5px;
	font-size: 18px;
}

table tr{
	background-color: #fff;
	color: #000;
}

table td{
	padding: 10px;
	font-size: 15px;
}

td button  {
	background-color: transparent;
	cursor: pointer;
	border:none;
	color: black;
	font-size: 15px;
	float: center;
}

h5{
	color: white;
	margin-top: 0px;
	padding-top: 5px;
}
p {
	text-align: left;
	padding-left:20px;
	padding-right: 20px;
	font-size: 20px; 
}

.close {
  color: #344960;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.bookN {
	float: right;
	height: 40px;
	width: 80%;
}
.author{
	float: right;
	height: 25px;
}
.copies{
	float: right;
	height: 25px;
}
.category{
	float: right;
	margin-left:50px;
	width:193px;
	height: 25px;
}

.add{
	padding-top:10px;
	text-align: right;
}
